<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568334264800-taggkh2542bif6lgt6jc22td8idprvql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568334264800-taggkh2542bif6lgt6jc22td8idprvql</string>
	<key>API_KEY</key>
	<string>AIzaSyAB_ZkcsecqWDsiHMgt715GNlgoFDuUexU</string>
	<key>GCM_SENDER_ID</key>
	<string>568334264800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.abTestDemo</string>
	<key>PROJECT_ID</key>
	<string>ab-test-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ab-test-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568334264800:ios:e557f9e09f5f2daf</string>
	<key>DATABASE_URL</key>
	<string>https://ab-test-flutter.firebaseio.com</string>
</dict>
</plist>